---
InheritParentConfig: true
Checks:
  bugprone-argument-comment,
CheckOptions:
  # See https://clang.llvm.org/extra/clang-tidy/checks/bugprone-argument-comment.html
  # Don't check functions that take a single argument
  - key: bugprone-argument-comment.IgnoreSingleArgument
    value: '1'
  # Call sites that use 'true' and 'false' require argument comments
  - key: bugprone-argument-comment.CommentBoolLiterals
    value: '1'
  # Call sites that use 'nullptr' require argument comments
  - key: bugprone-argument-comment.CommentNullPtrs
    value: '1'
  # Name in argument comment must match the name in function declaration exactly
  - key: bugprone-argument-comment.StrictMode
    value: '1'
