{
  "services": {
    "fuchsia.media.ActivityReporter": "fuchsia-pkg://fuchsia.com/audio_core#meta/audio_core.cmx",
    "fuchsia.media.Audio": "fuchsia-pkg://fuchsia.com/audio#meta/audio.cmx",
    "fuchsia.media.AudioCore": "fuchsia-pkg://fuchsia.com/audio_core#meta/audio_core.cmx",
    "fuchsia.media.AudioDeviceEnumerator": "fuchsia-pkg://fuchsia.com/audio_core#meta/audio_core.cmx",
    "fuchsia.media.UsageReporter": "fuchsia-pkg://fuchsia.com/audio_core#meta/audio_core.cmx",
    "fuchsia.media.UsageGainReporter": "fuchsia-pkg://fuchsia.com/audio_core#meta/audio_core.cmx",
    "fuchsia.media.ProfileProvider": "fuchsia-pkg://fuchsia.com/audio_core#meta/audio_core.cmx",
    "fuchsia.media.audio.EffectsController": "fuchsia-pkg://fuchsia.com/audio_core#meta/audio_core.cmx"
  }
}
