{
    "optional_services": [
        "fuchsia.ui.activity.Provider",
        "fuchsia.ui.activity.Tracker",
        "fuchsia.ui.activity.control.Control"
    ],
    "services": {
        "chromium.cast.ApplicationConfigManager": "fuchsia-pkg://fuchsia.com/cast_agent#meta/cast_agent.cmx",
        "fuchsia.bluetooth.snoop.Snoop": "fuchsia-pkg://fuchsia.com/bt-snoop#meta/bt-snoop.cmx",
        "fuchsia.examples.shadertoy.ShadertoyFactory": "fuchsia-pkg://fuchsia.com/shadertoy_service#meta/shadertoy_service.cmx",
        "fuchsia.kms.KeyManager": "fuchsia-pkg://fuchsia.com/kms#meta/key_manager.cmx",
        "fuchsia.scpi.SystemController": "fuchsia-pkg://fuchsia.com/scpi#meta/scpi.cmx",
        "fuchsia.telephony.snoop.Snooper": "fuchsia-pkg://fuchsia.com/telephony-snooper#meta/telephony-snooper.cmx",
        "fuchsia.timezone.Timezone": "fuchsia-pkg://fuchsia.com/timezone#meta/timezone.cmx"
    },
    "update_dependencies": []
}
