{
    "optional_services": [
        "fuchsia.ui.activity.Provider",
        "fuchsia.ui.activity.Tracker",
        "fuchsia.ui.activity.control.Control"
    ],
    "services": {
        "chromium.cast.ApplicationConfigManager": "fuchsia-pkg://fuchsia.com/cast_agent#meta/cast_agent.cmx",
        "fuchsia.bluetooth.snoop.Snoop": "fuchsia-pkg://fuchsia.com/bt-snoop#meta/bt-snoop.cmx"
    },
    "update_dependencies": []
}
