{{/*
// Copyright 2022 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}


{{- define "Method:Types:WireMessagingHeader" }}
{{ IfdefFuchsia }}

{{ EnsureNamespace "" }}
template<>
struct {{ .WireMethodTypes }} {
  {{ if .HasResponse }}
    using Completer = fidl::Completer<{{ .WireCompleterBase }}>;
  {{ else }}
    using Completer = fidl::Completer<>;
  {{ end }}

  static constexpr bool HasRequestPayload = {{ .HasRequestPayload }};
  {{ if .HasRequestPayload }}
    using Request = {{ .RequestPayload }};
  {{ else }}
    using Request = void;
  {{ end }}

  {{ if .HasDomainError }}
  {{/* TODO(fxbug.dev/88366): Figure out how to handle unknown interactions for wire-types. */}}
  using DomainError = {{ .Result.ErrorDecl }};
  {{ end }}

  using Thenable = ::fidl::internal::WireThenableImpl<
      {{ .Marker }},
      ::fidl::unstable::OwnedEncodedMessage<
          {{ .WireTransactionalRequest }}, {{ .Transport.Type }}
      >
  >;

  using BufferThenable = ::fidl::internal::WireThenableImpl<
      {{ .Marker }},
      ::fidl::unstable::UnownedEncodedMessage<
          {{ .WireTransactionalRequest }}, {{ .Transport.Type }}
      >
  >;
};

{{ EndifFuchsia }}
{{- end }}



{{- define "Method:Types:NaturalMessagingHeader" }}

{{ EnsureNamespace "" }}
template<>
struct {{ .NaturalMethodTypes }} {
  {{ if and .HasResponse (not .HasRequest) }}
    {{/* Events */}}
    {{ if .HasResponsePayload }}
      using Request = {{ .ResponsePayload }};
    {{ end }}
  {{ else }}
    {{ if .HasRequestPayload }}
      using Request = {{ .RequestPayload }};
    {{ end }}
    {{ if .HasResponsePayload }}
      using Response = {{ .ResponsePayload }};
    {{ end }}
  {{ end }}

  {{ if .HasResponse }}
    using Completer = fidl::Completer<{{ .NaturalCompleterBase }}>;
  {{ else }}
    using Completer = fidl::Completer<>;
  {{ end }}

  using ResultCallback =
      ::fit::callback<void ({{ .NaturalResult }}&)>;
};

{{- end }}
