*.iml
*.pyc
*~
.*.sw?
.DS_Store
.checkstyle
.clang_complete
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.packages
.project
.pub
.pubspec.lock
pubspec.lock
.pydevproject
packages
**/.atom/
**/.idea/
settings.json
