{{/*
// Copyright 2020 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

{{- define "Protocol:ClientImpl:MessagingHeader" }}
{{- IfdefFuchsia -}}
{{- EnsureNamespace "" }}
{{/*
TODO(fxbug.dev/85688): This class should be decomposed into
|WireWeakAsyncClientImpl| and |WireWeakAsyncBufferClientImpl|, then removed.
*/}}
template<>
class {{ .WireClientImpl }} final : public ::fidl::internal::ClientBase {
 public:
  {{- range .ClientMethods }}
    {{- template "Method:ClientImpl:MessagingHeader" . }}
  {{- end }}
  {{ .WireClientImpl.Self }}() = default;
};

template<>
class {{ .WireWeakOnewayBufferClientImpl }} : public ::fidl::internal::BufferClientImplBase {
 public:
  using BufferClientImplBase::BufferClientImplBase;

  {{- range .OneWayMethods }}
    {{- template "Method:ClientImplOnewayBuffer:MessagingHeader" . }}
  {{- end }}
};

template<>
class {{ .WireWeakAsyncBufferClientImpl }} final : public {{ .WireWeakOnewayBufferClientImpl }} {
 public:
  using {{ .WireWeakOnewayBufferClientImpl.Self }}::{{ .WireWeakOnewayBufferClientImpl.Self }};

  {{- range .TwoWayMethods }}
    {{- template "Method:ClientImplAsyncBuffer:MessagingHeader" . }}
  {{- end }}
};

{{- EndifFuchsia -}}
{{- end }}



{{- define "Protocol:ClientImpl:MessagingSource" }}
  {{ EnsureNamespace ""}}
  {{- IfdefFuchsia -}}

  {{- range .ClientMethods }}
    {{- template "Method:ClientImpl:MessagingSource" . }}
  {{- end }}

  {{- range .OneWayMethods }}
    {{- template "Method:ClientImplOnewayBuffer:MessagingSource" . }}
  {{- end }}

  {{- range .TwoWayMethods }}
    {{- template "Method:ClientImplAsyncBuffer:MessagingSource" . }}
  {{- end }}

  {{- EndifFuchsia -}}
{{- end }}

