{{/*
// Copyright 2020 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

{{- define "Method:WireWeakAsyncClientImpl:WireMessagingHeader" }}
  {{- .Docs }}
  {{- if .DocComments }}
    //
  {{- end }}
  {{- if .Request.ClientAllocationV2.IsStack }}
    // Allocates {{ .Request.ClientAllocationV2.Size }} bytes of request buffer on the stack. The callback is stored on the heap.
  {{- else }}
    // The request and callback are allocated on the heap.
  {{- end }}
  void {{ .Name }}({{ RenderParams .RequestArgs
                   (printf "::fidl::WireClientCallback<%s> _cb" .Marker) }});

  {{- if .ResponseArgs }}
  void {{ .Name }}({{ RenderParams .RequestArgs
                   (printf "::fit::callback<void (%s* response)> _cb" .WireResponse) }});
  {{- else -}}
  void {{ .Name }}({{ RenderParams .RequestArgs
                   (printf "::fit::callback<void ()> _cb") }});
  {{- end -}}

{{- end }}



{{- define "Method:WireWeakAsyncClientImpl:WireMessagingSource" }}
  void {{ .Protocol.WireWeakAsyncClientImpl.NoLeading }}::{{ .Name }}(
                    {{ RenderParams .RequestArgs
                    (printf "::fidl::WireClientCallback<%s> _cb" .Marker) }}) {
    using Callback = decltype(_cb);
    class ResponseContext final : public {{ .WireResponseContext }} {
    public:
      ResponseContext(Callback cb)
          : cb_(std::move(cb)) {}

      void OnResult({{ .WireUnownedResult }}& result) override {
        cb_(result);
        delete this;
      }

    private:
      Callback cb_;
    };

    auto* _context = new ResponseContext(std::move(_cb));
    {{ .WireTransactionalRequest }} _request{ {{ RenderForwardParams .RequestArgs }} };
    FIDL_INTERNAL_DISABLE_AUTO_VAR_INIT
    ::fidl::unstable::OwnedEncodedMessage<{{ .WireTransactionalRequest }}, {{ .Transport.Type }}> _request_message(
          ::fidl::internal::AllowUnownedInputRef{}, &_request);
    _client_base()->SendTwoWay(_request_message.GetOutgoingMessage(), _context);
  }

  void {{ .Protocol.WireWeakAsyncClientImpl.NoLeading }}::{{ .Name }}(
    {{- if .ResponseArgs }}
    {{ RenderParams .RequestArgs
      (printf "::fit::callback<void (%s* response)> _cb" .WireResponse) }}) {
    {{- else -}}
    {{ RenderParams .RequestArgs
      (printf "::fit::callback<void ()> _cb") }}) {
    {{- end -}}
    using Callback = decltype(_cb);
    class ResponseContext final : public {{ .WireResponseContext }} {
    public:
      ResponseContext(Callback cb)
          : cb_(std::move(cb)) {}

      void OnResult({{ .WireUnownedResult }}& result) override {
        if (result.ok()) {
          {{- if .ResponseArgs }}
          {{ .WireResponse }}* response = result.Unwrap();
          cb_(response);
          {{- else -}}
          cb_();
          {{- end -}}
        }
        delete this;
      }

    private:
      Callback cb_;
    };

    auto* _context = new ResponseContext(std::move(_cb));
    {{ .WireTransactionalRequest }} _request{ {{ RenderForwardParams .RequestArgs }} };
    FIDL_INTERNAL_DISABLE_AUTO_VAR_INIT
    ::fidl::unstable::OwnedEncodedMessage<{{ .WireTransactionalRequest }}, {{ .Transport.Type }}> _request_message(
    ::fidl::internal::AllowUnownedInputRef{}, &_request);
    _client_base()->SendTwoWay(_request_message.GetOutgoingMessage(), _context);
  }

{{- end }}
