{{/*
// Copyright 2021 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

{{- define "Protocol:Details:WireMessagingHeader" }}
{{ EnsureNamespace "" }}
{{- IfdefFuchsia }}
template<>
struct {{ .ProtocolDetails }} {
  {{- if .DiscoverableName }}
    static constexpr char DiscoverableName[] = {{ .DiscoverableName }};
  {{- end }}
};
{{- EndifFuchsia }}
{{- end }}



{{- define "Protocol:Details:NaturalMessagingSource" }}

{{- range .Methods }}
{{- EnsureNamespace .OrdinalName }}
[[maybe_unused]]
constexpr inline uint64_t {{ .OrdinalName.Name }} = {{ .Ordinal }}lu;
{{- end }}

{{- end }}
