{{/*
// Copyright 2019 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

{{- define "Protocol:Dispatcher:WireMessagingHeader" }}
{{- IfdefFuchsia }}
{{- EnsureNamespace "" }}
template<>
struct {{ .WireServerDispatcher }} final {
  {{ .WireServerDispatcher.Self }}() = delete;
  static ::fidl::DispatchResult TryDispatch({{ .WireServer }}* impl, ::fidl::IncomingMessage& msg,
                                            internal::IncomingTransportContext transport_context,
                                            ::fidl::Transaction* txn);
  static void Dispatch({{ .WireServer }}* impl, ::fidl::IncomingMessage&& msg,
                       internal::IncomingTransportContext transport_context,
                       ::fidl::Transaction* txn);

 private:
  static const ::fidl::internal::MethodEntry entries_[];
  static const ::fidl::internal::MethodEntry* entries_end_;
};
{{- EndifFuchsia }}
{{- end }}



{{- define "Protocol:Dispatcher:WireMessagingSource" }}
{{- IfdefFuchsia -}}
{{ EnsureNamespace "" }}

constexpr ::fidl::internal::MethodEntry {{ .WireServerDispatcher.NoLeading }}::entries_[] = {
  {{- range .ClientMethods }}
    { {{ .OrdinalName }},
      [](void* interface, ::fidl::IncomingMessage&& msg,
        internal::IncomingTransportContext transport_context, ::fidl::Transaction* txn) {
        {{- if .RequestArgs }}
        ::fidl::unstable::DecodedMessage<{{ .WireTransactionalRequest }}> decoded{std::move(msg)};
        if (unlikely(!decoded.ok())) {
          return decoded.status();
        }
        auto* primary = &decoded.PrimaryObject()->body;
        {{- else }}
        {{ .WireRequest }} empty_request;
        auto* primary = &empty_request;
        {{- end }}
        {{ .WireCompleter }}::Sync completer(txn);
        {{- if eq .Transport.Name "Driver" }}
        fdf::Arena arena(transport_context.release<::fidl::internal::DriverTransport>());
        reinterpret_cast<{{ $.WireServer }}*>(interface)->{{ .Name }}(
            primary, arena, completer);
        {{- else }}
        reinterpret_cast<{{ $.WireServer }}*>(interface)->{{ .Name }}(
            primary, completer);
          {{- end }}
        return ZX_OK;
      },
    },
  {{- end }}
};

const ::fidl::internal::MethodEntry* {{ .WireServerDispatcher.NoLeading }}::entries_end_ =
    &entries_[{{- len .ClientMethods -}}];

::fidl::DispatchResult {{ .WireServerDispatcher.NoLeading }}::TryDispatch(
    {{ .WireServer }}* impl, ::fidl::IncomingMessage& msg,
    internal::IncomingTransportContext transport_context, ::fidl::Transaction* txn) {
  return ::fidl::internal::TryDispatch(
    impl, msg, std::move(transport_context), txn, entries_, entries_end_);
}

{{ EnsureNamespace "" }}
void {{ .WireServerDispatcher.NoLeading }}::Dispatch(
    {{- .WireServer }}* impl, ::fidl::IncomingMessage&& msg,
    internal::IncomingTransportContext transport_context, ::fidl::Transaction* txn) {
  ::fidl::internal::Dispatch(impl, msg, std::move(transport_context), txn, entries_, entries_end_);
}

{{- EnsureNamespace "" }}
void {{ .WireServer.NoLeading }}::dispatch_message(
    ::fidl::IncomingMessage&& msg, ::fidl::Transaction* txn,
    ::fidl::internal::IncomingTransportContext transport_context) {
  {{ .WireServerDispatcher }}::Dispatch(this, std::move(msg), std::move(transport_context), txn);
}
{{- EndifFuchsia -}}

{{- end }}



{{- define "Protocol:Dispatcher:NaturalMessagingHeader" }}
{{- IfdefFuchsia }}
{{- EnsureNamespace "" }}
template<>
struct {{ .NaturalServerDispatcher }} final {
  {{ .NaturalServerDispatcher.Self }}() = delete;
  static void Dispatch({{ .NaturalServer }}* impl, ::fidl::IncomingMessage&& msg,
                       internal::IncomingTransportContext transport_context,
                       ::fidl::Transaction* txn);

 private:
  static const ::fidl::internal::MethodEntry entries_[];
  static const ::fidl::internal::MethodEntry* entries_end_;
};
{{- EndifFuchsia }}
{{- end }}



{{- define "Protocol:Dispatcher:NaturalMessagingSource" }}
{{- IfdefFuchsia -}}
{{ EnsureNamespace "" }}

constexpr ::fidl::internal::MethodEntry {{ .NaturalServerDispatcher.NoLeading }}::entries_[] = {
  {{- range .ClientMethods }}
    { {{ .OrdinalName }},
      [](void* interface, ::fidl::IncomingMessage&& msg,
        internal::IncomingTransportContext transport_context, ::fidl::Transaction* txn) {
        ::fitx::result<::fidl::Error, {{ .NaturalRequest }}> decoded =
            {{ .NaturalRequest }}::DecodeTransactional(std::move(msg));
        if (decoded.is_error()) {
          return decoded.error_value().status();
        }
        {{ .NaturalCompleter }}::Sync completer(txn);
        static_cast<{{ $.NaturalServer }}*>(interface)->{{ .Name }}(
            decoded.value(), completer);
        return ZX_OK;
      },
    },
  {{- end }}
};

const ::fidl::internal::MethodEntry* {{ .NaturalServerDispatcher.NoLeading }}::entries_end_ =
    &entries_[{{- len .ClientMethods -}}];

{{ EnsureNamespace "" }}
void {{ .NaturalServerDispatcher.NoLeading }}::Dispatch(
    {{- .NaturalServer }}* impl, ::fidl::IncomingMessage&& msg,
    internal::IncomingTransportContext transport_context, ::fidl::Transaction* txn) {
  ::fidl::internal::Dispatch(impl, msg, std::move(transport_context), txn, entries_, entries_end_);
}

{{- EnsureNamespace "" }}
void {{ .NaturalServer.NoLeading }}::dispatch_message(
    ::fidl::IncomingMessage&& msg, ::fidl::Transaction* txn,
    ::fidl::internal::IncomingTransportContext transport_context) {
  {{ .NaturalServerDispatcher }}::Dispatch(this, std::move(msg), std::move(transport_context), txn);
}
{{- EndifFuchsia -}}

{{- end }}

