{{/*
// Copyright 2021 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

{{- define "Protocol:Caller:MessagingHeader" }}
{{- EnsureNamespace "" }}

// Methods to make a sync FIDL call directly on an unowned channel or a
// const reference to a |fidl::ClientEnd<{{ .WireType }}>|,
// avoiding setting up a client.
template<>
class {{ .WireSyncClientImpl }} final :
    public ::fidl::internal::SyncEndpointVeneer<{{ .WireSyncClientImpl }}> {
 public:
  using ::fidl::internal::SyncEndpointVeneer<{{ .WireSyncClientImpl }}>::SyncEndpointVeneer;

{{ "" }}
  {{- /* Client-calling functions do not apply to events. */}}
  {{- range .ClientMethods }}
    {{ .Docs }}
    //{{ template "Method:ClientAllocationComment:Helper" . }}
    {{ .WireResult }} {{ .Name }}({{- RenderParams .RequestArgs }}) {
      return {{ .WireResult }}({{ RenderForwardParams "_client_end()" .RequestArgs }});
    }
{{ "" }}

    {{- if or .RequestArgs .ResponseArgs }}

      {{- $call_args := (List) }}
      {{- if .RequestArgs }}
        {{- $call_args = (List $call_args "::fidl::BufferSpan _request_buffer" .RequestArgs) }}
      {{- end }}
      {{- if .HasResponse }}
        {{- $call_args = (List $call_args "::fidl::BufferSpan _response_buffer") }}
      {{- end }}

      {{- $result_args := (List) }}
      {{- if .RequestArgs }}
        {{- $result_args = (List $result_args "_request_buffer.data" "_request_buffer.capacity") }}
      {{- end }}
      {{- $result_args = (List $result_args .RequestArgs) }}
      {{- if .HasResponse -}}
        {{- $result_args = (List $result_args "_response_buffer.data" "_response_buffer.capacity") }}
      {{- end }}

      {{- .Docs }}
      // Caller provides the backing storage for FIDL message via request and response buffers.
      {{ .WireUnownedResult }} {{ .Name }}({{ RenderParams $call_args }}) {
        return {{ .WireUnownedResult }}({{ RenderForwardParams "_client_end()" $result_args }});
      }

    {{- end }}
{{ "" }}
  {{- end }}

 private:
  ::fidl::UnownedClientEnd<{{ . }}> _client_end() const {
    return ::fidl::UnownedClientEnd<{{ . }}>(_channel());
  }
};
{{- end }}

