{{/*
// Copyright 2021 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

{{- define "Method:ClientImpl:WireMessagingHeader" }}
  {{- if .HasResponse }}
    {{- /* two-way method */}}

    {{- template "Method:ClientImplAsync:WireMessagingHeader" . }}
    {{- if .Transport.HasSyncClient }}
    {{- template "Method:ClientImplSync:WireMessagingHeader" . }}
    {{- end }}

  {{- else }}
    {{- /* one-way method */}}

    {{- /* There is no distinction between sync vs async for one-way methods . */}}
    {{- template "Method:ClientImplOneway:WireMessagingHeader" . }}

  {{- end }}
{{- end }}


{{- define "Method:ClientImpl:WireMessagingSource" }}
  {{- if .HasResponse }}
    {{- /* two-way method */}}

    {{- template "Method:ClientImplAsync:WireMessagingSource" . }}
    {{- if .Transport.HasSyncClient }}
    {{- template "Method:ClientImplSync:WireMessagingSource" . }}
    {{- end }}

  {{- else }}
    {{- /* one-way method */}}

    {{- /* There is no distinction between sync vs async for one-way methods . */}}
    {{- template "Method:ClientImplOneway:WireMessagingSource" . }}
  {{- end }}
{{- end }}

