class {{interface.name}}ResponseValidator
    : public ::f1dl::internal::MessageValidator {
 public:
  ::f1dl::internal::ValidationError Validate(const ::f1dl::Message* message,
                                           std::string* err) override;
};
