class {{interface.name}}Stub : public ::f1dl::MessageReceiverWithResponderStatus {
 public:
  {{interface.name}}Stub();
  ~{{interface.name}}Stub() override;
  void set_sink({{interface.name}}* sink) { sink_ = sink; }
  {{interface.name}}* sink() { return sink_; }

  bool Accept(::f1dl::Message* message) override;
  bool AcceptWithResponder(::f1dl::Message* message,
      ::f1dl::MessageReceiverWithStatus* responder) override;

 private:
  {{interface.name}}* sink_;
};
