class {{interface.name}}RequestValidator
    : public fidl::internal::MessageValidator {
 public:
  fidl::internal::ValidationError Validate(const fidl::Message* message,
                                           std::string* err) override;
};
