size_t GetSerializedSize_(const {{struct.name}}& input);
::f1dl::internal::ValidationError Serialize_(
    {{struct.name}}* input,
    ::f1dl::internal::Buffer* buffer,
    internal::{{struct.name}}_Data** output);
void Deserialize_(internal::{{struct.name}}_Data* input,
                  {{struct.name}}* output);
