:root {
  --mdc-theme-primary: #00AAC0;
}

body {
  background-color: #EEEEEE;
  display: block;
  margin: 0px;
}

.mdc-card {
  background-color:white;
}

.mdc-tab-bar {
  padding-left: 24px;
}

.panel {
  display: none;
  padding: 24px;
}

.panel.active {
  display: block;
}
