{
    "services": {
        "fuchsia.wlan.device.service.DeviceService": ["fuchsia-pkg://fuchsia.com/wlanstack#meta/wlanstack.cmx", "--wep-supported", "--wpa1-supported"],
        "fuchsia.wlan.service.Wlan": "fuchsia-pkg://fuchsia.com/wlancfg#meta/wlancfg.cmx",
        "fuchsia.wlan.policy.ClientProvider": "fuchsia-pkg://fuchsia.com/wlancfg#meta/wlancfg.cmx",
        "fuchsia.wlan.policy.ClientListener": "fuchsia-pkg://fuchsia.com/wlancfg#meta/wlancfg.cmx",
        "fuchsia.wlan.policy.AccessPointProvider": "fuchsia-pkg://fuchsia.com/wlancfg#meta/wlancfg.cmx",
        "fuchsia.wlan.policy.AccessPointListener": "fuchsia-pkg://fuchsia.com/wlancfg#meta/wlancfg.cmx",
        "fuchsia.wlan.product.deprecatedclient.DeprecatedClient": "fuchsia-pkg://fuchsia.com/wlancfg#meta/wlancfg.cmx",
        "fuchsia.wlan.product.deprecatedconfiguration.DeprecatedConfigurator": "fuchsia-pkg://fuchsia.com/wlancfg#meta/wlancfg.cmx"
    },
    "startup_services": [
        "fuchsia.wlan.service.Wlan",
        "fuchsia.wlan.policy.ClientProvider",
        "fuchsia.wlan.policy.ClientListener",
        "fuchsia.wlan.policy.AccessPointProvider",
        "fuchsia.wlan.policy.AccessPointListener",
        "fuchsia.wlan.product.deprecatedclient.DeprecatedClient",
        "fuchsia.wlan.product.deprecatedconfiguration.DeprecatedConfigurator"
    ]
}
