{
    "services": {
        "fuchsia.wlan.device.service.DeviceService": ["fuchsia-pkg://fuchsia.com/wlanstack#meta/wlanstack.cmx", "--wep_supported", "--wpa1_supported"],
        "fuchsia.wlan.service.Wlan": "fuchsia-pkg://fuchsia.com/wlancfg#meta/wlancfg.cmx",
        "fuchsia.wlan.policy.ClientProvider": "fuchsia-pkg://fuchsia.com/wlancfg#meta/wlancfg.cmx"
    },
    "startup_services": [
        "fuchsia.wlan.service.Wlan"
    ]
}
