*.iml
*.pyc
*~
.*.sw?
.DS_Store
.checkstyle
.clang_complete
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.project
.pub
.pydevproject
*.sublime-project
*.sublime-workspace
.vscode
.packages
**/.atom/
**/.idea/
/cloud/third_party
