{{- define "GenerateCAlias" -}}
{{ range .Comments }}
//{{ . }}
{{- end }}
{{- $name := TypeName . }}
{{- $info := DescribeType .Value }}
typedef {{ $info.Type }} {{ Append $name $info.ArraySuffix }};
{{ end }}
