{{/*
// Copyright 2022 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

{{- define "Filename:driver/NaturalMessagingSource" -}}
  fidl/{{ .LibraryDots }}/cpp/driver/natural_messaging.cc
{{- end }}

{{- define "File:driver/NaturalMessagingSource" -}}
{{- UseUnified -}}
{{- SetTransport "Driver" -}}

#include <{{ .Library | Filename "driver/NaturalMessagingHeader" }}>


{{ UnsetTransport -}}
{{ EndOfFile }}
{{ end }}