{{/*
// Copyright 2022 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

#![cfg(test)]
#![allow(unused_imports)]

use {
    assert_matches::assert_matches,
    fidl::{AsHandleRef, Error, Handle, HandleDisposition, HandleInfo, HandleOp, ObjectType, Rights, UnknownData},
    fidl::encoding::{Context, Decodable, Decoder, Encoder, WireFormatVersion},
    fidl_test_conformance as test_conformance,
    fuchsia_zircon_status::Status,
    gidl_util::{HandleDef, HandleSubtype, create_handles, copy_handle, copy_handles_at, disown_vec, get_info_handle_valid},
};

const _V1_CONTEXT: &Context = &Context { wire_format_version: WireFormatVersion::V1 };
const _V2_CONTEXT: &Context = &Context { wire_format_version: WireFormatVersion::V2 };

{{ range .EncodeSuccessCases }}
{{- if .HandleDefs }}#[cfg(target_os = "fuchsia")]{{ end }}
#[test]
fn test_{{ .Name }}_encode() {
    {{- if .HandleDefs }}
    let handle_defs = create_handles(&{{ .HandleDefs }});
    let handle_defs = disown_vec(handle_defs);
    let handle_defs = handle_defs.as_ref();
    let expected_handles = disown_vec(unsafe { copy_handles_at(handle_defs, &{{ .Handles }}) });
    let expected_handles = expected_handles.as_ref();
    {{- end }}
    let value = &mut {{ .Value }};
    let bytes = &mut Vec::new();
    let handle_dispositions = &mut Vec::new();
    bytes.resize(65536, 0xcd); // fill with junk data
    Encoder::encode_with_context({{ .Context }}, bytes, handle_dispositions, value).unwrap();
    assert_eq!(bytes, &{{ .Bytes }});
    {{- if .HandleDefs }}
    let handles = handle_dispositions.drain(..).map(|h| match h.handle_op {
        HandleOp::Move(hdl) => hdl,
        _ => panic!("unknown handle op"),
    }).collect::<Vec<Handle>>();
    assert_eq!(&handles, expected_handles);
    {{- else }}
    assert!(handle_dispositions.is_empty());
    {{- end }}
}
{{ end }}

{{ range .DecodeSuccessCases }}
{{- if .HandleDefs }}#[cfg(target_os = "fuchsia")]{{ end }}
#[test]
fn test_{{ .Name }}_decode() {
    let bytes = &{{ .Bytes }};
    {{- if .HandleDefs }}
    let handle_definitions = &{{ .HandleDefs }};
    let handle_defs = create_handles(handle_definitions);
    let handle_defs = disown_vec(handle_defs);
    let handle_defs = handle_defs.as_ref();
    let mut handles = unsafe { copy_handles_at(handle_defs, &{{ .Handles }}) };
    {{- else }}
    let handle_definitions: Vec<HandleDef> = Vec::new();
    let mut handles = Vec::new();
    {{- end }}
    let mut handle_infos : Vec::<_> = handles.drain(..).zip(handle_definitions.iter()).map(|(h, hd)| {
        HandleInfo {
            handle: h,
            object_type: match hd.subtype {
                HandleSubtype::Event => ObjectType::EVENT,
                HandleSubtype::Channel => ObjectType::CHANNEL,
            },
            rights: hd.rights,
        }
    }).collect();
    let value = &mut {{ .ValueType }}::new_empty();
    Decoder::decode_with_context({{ .Context }}, bytes, &mut handle_infos, value).unwrap();
    {{- if .ForgetHandles }}
    // Forget handles before dropping the expected value, to avoid double closing them.
    struct ForgetHandles({{ .ValueType }});
    impl std::ops::Drop for ForgetHandles {
        #[allow(unused_parens)]
        fn drop(&mut self) {
            {{ .ForgetHandles }}
        }
    }
    let expected_value = ForgetHandles({{ .Value }});
    assert_eq!(value, &expected_value.0);
    {{- else }}
    assert_eq!(value, &{{ .Value }});
    {{- end }}
}
{{ end }}

{{ range .EncodeFailureCases }}
{{- if .HandleDefs }}#[cfg(target_os = "fuchsia")]{{ end }}
#[test]
fn test_{{ .Name }}_encode_failure() {
    {{- if .HandleDefs }}
    let handle_defs = create_handles(&{{ .HandleDefs }});
    let handle_defs = disown_vec(handle_defs);
    let handle_defs = handle_defs.as_ref();
    {{- end }}
    let value = &mut {{ .Value }};
    let bytes = &mut Vec::new();
    let handles = &mut Vec::new();
    bytes.resize(65536, 0xcd); // fill with junk data
    match Encoder::encode_with_context({{ .Context }}, bytes, handles, value) {
        Err(err) => assert_matches!(err, {{ .ErrorCode }} { .. }),
        Ok(_) => panic!("unexpected successful encoding"),
    }
    {{- if .HandleDefs }}
    assert_eq!(
        handle_defs.iter().map(get_info_handle_valid).collect::<Vec<_>>(),
        std::iter::repeat(Err(Status::BAD_HANDLE)).take(handle_defs.len()).collect::<Vec<_>>(),
    );
    {{- end }}
}
{{ end }}

{{ range .DecodeFailureCases }}
{{- if .HandleDefs }}#[cfg(target_os = "fuchsia")]{{ end }}
#[test]
fn test_{{ .Name }}_decode_failure() {
    let bytes = &{{ .Bytes }};
    {{- if .HandleDefs }}
    let handle_defs = create_handles(&{{ .HandleDefs }});
    let handle_defs = disown_vec(handle_defs);
    let handle_defs = handle_defs.as_ref();
    let mut handles = unsafe { copy_handles_at(handle_defs, &{{ .Handles }}) };
    {{- else }}
    let mut handles = Vec::new();
    {{- end }}
    let mut handle_infos : Vec::<_> = handles.drain(..).map(|h: fidl::Handle| {
        let info = h.as_handle_ref().basic_info().unwrap();
        HandleInfo {
            handle: h,
            object_type: info.object_type,
            rights: info.rights,
        }
    }).collect();
    let value = &mut {{ .ValueType }}::new_empty();
    match Decoder::decode_with_context({{ .Context }}, bytes, &mut handle_infos, value) {
        Err(err) => assert_matches!(err, {{ .ErrorCode }} { .. }),
        Ok(_) => panic!("unexpected successful decoding"),
    }
}
{{ end }}
