# Auto detect text files and perform LF normalization
*      text=auto

# Always perform LF normalization on these files
*.c    text
*.cc   text
*.cpp  text
*.h    text
*.gn   text
*.md   text

# Skip Tricium by default on files in third_party and golden files but still
# enforce tricium on BUILD.gn and OWNERS even in these directories.
**/golden/** -tricium
**/goldens/** -tricium
**/third_party/** -tricium
**/BUILD.gn tricium
**/OWNERS tricium
