### General file patterns
*~
.*.sw?
.build_lock
.checkstyle
.classpath
.config
.cproject
.DS_Store
.gdb_history
.gdbinit
.gn
.jiri_manifest
.landmines
.packages
.project
.pydevproject
.ssh
.vscode
*.iml
*.orig
*.pyc
*.sublime-project
*.sublime-workspace
Cargo.lock
Cargo.toml
compile_commands.json
cscope.*
Session.vim
tags
Thumbs.db
/tools/
tools/cipd.gni
topaz/
vendor/
tmp/

### Specific files
/garnet/tools/cipd.gni

### Directories to be ignored across the tree
.cipd/
.idea/

### Top-level directories
/.jiri/
/.jiri_root/
/infra/
/integration/
# For storing local scripts and data files in a source tree.
/local/
/old/
/out/
/prebuilt/
/third_party/
/tmp/
/tools/
/topaz/
/vendor/
