/cmake
/linux64/bootserver
/linux64/bootserver.stamp
/linux64/cmake.stamp
/linux64/gn
/linux64/gn.stamp
/linux64/go
/linux64/go.stamp
/linux64/loglistener
/linux64/loglistener.stamp
/linux64/mkbootfs
/linux64/mkbootfs.stamp
/linux64/ninja
/linux64/ninja.stamp
/linux64/toolchain.stamp
/mac/bootserver
/mac/bootserver.stamp
/mac/cmake.stamp
/mac/gn
/mac/gn.stamp
/mac/go
/mac/go.stamp
/mac/loglistener
/mac/loglistener.stamp
/mac/mkbootfs
/mac/mkbootfs.stamp
/mac/ninja
/mac/ninja.stamp
/mac/toolchain.stamp
/toolchain
/sysroot
