{
    "startup_services": [
      "fuchsia.memory.Monitor"
    ],
    "services": {
      "fuchsia.memory.Monitor": "fuchsia-pkg://fuchsia.com/memory_monitor#meta/memory_monitor.cmx",
      "fuchsia.memorypressure.Provider": "fuchsia-pkg://fuchsia.com/memory_monitor#meta/memory_monitor.cmx"
    }
}
