{
    "launchers": {
        "package": [ "file", "fuchsia-pkg" ],
        "fuchsia-pkg://fuchsia.com/web_runner#meta/web_runner.cmx": [ "http", "https" ],
        "fuchsia-pkg://fuchsia.com/cast_runner#meta/cast_runner.cmx": [ "cast", "casts" ],
        "fuchsia-pkg://fuchsia.com/android_runner#meta/android_runner.cmx": [ "android" ],
        "fuchsia-pkg://fuchsia.com/linux_runner#meta/linux_runner.cmx": [ "linux" ]
    }
}
