<div style="text-align: center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <p>This is very much experimental, please tread softly...</p>
</div>

<div *ngIf="!authenticated">
  <h2>Authentication required</h2>
  <p>Please authenticate in order to use the dashboard.</p>
  <button (click)="login()">Login</button>
</div>

<div *ngIf="deleteInProgress">
  <div style="text-align: center">
    <h2>Delete in progress, please don't close the tab</h2>
  </div>
</div>

<div *ngIf="authenticated && !deleteInProgress">
  <!-- Info about the user -->
  <div>
    <h2>User</h2>
    <p>You are signed in as <b>{{ (user | async)?.email }}</b>
      a.k.a {{ uid }} (Firebase user ID).</p>
    <button (click)="logout()">Logout</button>
  </div>

  <!-- Devices -->
  <div>
    <h2>Devices</h2>
    <p>There are <b>{{ (devices | async)?.length }}</b> devices syncing.</p>
    <ul>
      <li class="text" *ngFor="let device of devices | async">
        {{device.$key}}
      </li>
    </ul>
    <p>Device IDs are opaque and meaningful only to Ledger.</p>
  </div>

  <!-- Cloud delete -->
  <div>
    <h2>Reset Ledger state</h2>
    <p><i>Why do we even have this lever?</i></p>
    <button (click)="erase()">Permanently erase all my data</button>
    <p><b>This will also trigger erase of the local data, the next time each of
          the devices sync</b></p>
  </div>
</div>
