# {{PROJECT_NAME}}

TODO: Brief overview of the test component.

## Building

To add this component to your build, append
`--with {{PROJECT_PATH}}:tests`
to the `fx set` invocation.

## Testing

Run the tests for {{PROJECT_NAME}} using the `{{PROJECT_NAME}}-tests` package.

```
$ fx test {{PROJECT_NAME}}-tests
```
