{
  "diagnostics": "fuchsia-pkg://fuchsia.com/sysmgr_integration_tests#meta/observer.cmx",
  "services": {
    "fuchsia.logger.Log": "fuchsia-pkg://fuchsia.com/sysmgr_integration_tests#meta/observer.cmx",
    "fuchsia.logger.LogSink": "fuchsia-pkg://fuchsia.com/sysmgr_integration_tests#meta/observer.cmx",
    "test.sysmgr.Interface": "fuchsia-pkg://fuchsia.com/sysmgr_integration_tests#meta/test_sysmgr_service.cmx",
    "fuchsia.pkg.PackageResolver": "fuchsia-pkg://fuchsia.com/sysmgr_integration_tests#meta/mock_resolver.cmx"
  },
  "startup_services": [
    "fuchsia.pkg.PackageResolver"
  ],
  "update_dependencies": [
    "fuchsia.pkg.PackageResolver"
  ]
}
