# {{PROJECT_NAME}}

TODO: Brief overview of the component.

## Building

To add this component to your build, append
`--with-base {{PROJECT_PATH}}`
to the `fx set` invocation.

NOTE: V2 components must be included in `base`. Ephemerality is not supported yet.

## Running

There is no convenient way to run a V2 component directly. First launch `component_manager_for_examples`
as a V1 component and give it the URL of this component.

Note, you may need to add this variant of component manager to your build.
If so, append `--with //src/sys/component_manager:component-manager-for-examples` to the `fx set` invocation.

```
$ fx shell run fuchsia-pkg://fuchsia.com/component-manager-for-examples#meta/component_manager_for_examples.cmx \
  fuchsia-pkg://fuchsia.com/{{PROJECT_NAME}}#meta/{{PROJECT_NAME}}.cm
```

## Testing

Unit tests for {{PROJECT_NAME}} are available in the `{{PROJECT_NAME}}-tests`
package.

```
$ fx test {{PROJECT_NAME}}-tests
```

