{{/*
// Copyright 2021 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
*/}}

{{- define "DecoderEncoder" -}}
::fidl::fuzzing::DecoderEncoderForType{
    .fidl_type_name = "{{ .Wire }}",
    .has_flexible_envelope = {{ .TypeShapeV2.HasFlexibleEnvelope }},
    .treat_bytes_as_transactional_message = false,
    .decoder_encoder = ::fidl::fuzzing::DecoderEncoderImpl<{{ .Wire }}, false>,
},
::fidl::fuzzing::DecoderEncoderForType{
    .fidl_type_name = "A transactional message using {{ .Wire }} as the body",
    .has_flexible_envelope = {{ .TypeShapeV2.HasFlexibleEnvelope }},
    .treat_bytes_as_transactional_message = true,
    .decoder_encoder = ::fidl::fuzzing::DecoderEncoderImpl<{{ .Wire }}, true>,
},
{{- end -}}
