# {{PROJECT_NAME}}

TODO: Brief overview of the component.

## Building

To add this component to your build, append
`--with-base {{PROJECT_PATH}}`
to the `fx set` invocation.

## Running

Use `ffx component run` to launch this component into a restricted realm
for development purposes:

```
$ ffx component run fuchsia-pkg://fuchsia.com/{{PROJECT_NAME}}#meta/{{PROJECT_NAME}}.cm
```

## Testing

Unit tests for {{PROJECT_NAME}} are available in the `{{PROJECT_NAME}}-tests`
package.

```
$ fx test {{PROJECT_NAME}}-tests
```

