{
  "services": {
    "fuchsia.net.SocketProvider": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.netstack.Netstack": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.net.stack.Stack": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.netstack.ResolverAdmin": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx"
  },
  "update_dependencies": [
    "fuchsia.bogus.DoesNotExist"
  ],
  "apps": [ "fuchsia-pkg://fuchsia.com/system_recovery#meta/system_recovery.cmx" ]
}
