{
  "services": {
    "fuchsia.deprecatedtimezone.TimeService": "fuchsia-pkg://fuchsia.com/network_time_service#meta/network_time_service.cmx",
    "fuchsia.net.http.Loader": "fuchsia-pkg://fuchsia.com/http_client#meta/http_client.cmx",
    "fuchsia.pkg.PackageCache": "fuchsia-pkg://fuchsia.com/pkg-cache#meta/pkg-cache.cmx",
    "fuchsia.pkg.PackageResolver": "fuchsia-pkg://fuchsia.com/pkg-resolver#meta/pkg-resolver.cmx",
    "fuchsia.pkg.RepositoryManager": "fuchsia-pkg://fuchsia.com/pkg-resolver#meta/pkg-resolver.cmx",
    "fuchsia.pkg.rewrite.Engine": "fuchsia-pkg://fuchsia.com/pkg-resolver#meta/pkg-resolver.cmx",
    "fuchsia.stash.SecureStore": "fuchsia-pkg://fuchsia.com/stash#meta/stash_secure.cmx",
    "fuchsia.sysmem.Allocator": "fuchsia-pkg://fuchsia.com/sysmem_connector#meta/sysmem_connector.cmx"
  },
  "update_dependencies": [
    "fuchsia.bogus.DoesNotExist"
  ],
  "apps": [ "fuchsia-pkg://fuchsia.com/system_recovery#meta/system_recovery.cmx" ]
}
