{
  "services": {
    "fuchsia.pkg.PackageCache": "fuchsia-pkg://fuchsia.com/pkg-cache#meta/pkg-cache.cmx",
    "fuchsia.pkg.PackageResolver": "fuchsia-pkg://fuchsia.com/pkg-resolver#meta/pkg-resolver.cmx",
    "fuchsia.pkg.RepositoryManager": "fuchsia-pkg://fuchsia.com/pkg-resolver#meta/pkg-resolver.cmx",
    "fuchsia.pkg.rewrite.Engine": "fuchsia-pkg://fuchsia.com/pkg-resolver#meta/pkg-resolver.cmx"
  },
  "update_dependencies": [
    "fuchsia.bogus.DoesNotExist"
  ],
  "apps": [ "fuchsia-pkg://fuchsia.com/system_recovery#meta/system_recovery.cmx" ]
}
