/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

.lcd-container {
  max-width: 1280px;
  margin: 0 auto;
}

.lcd-card {
  margin: 10px;
}
