.DS_Store
build-*/
*.swp
*.swo
*~
tags
TAGS
local.mk
*.orig
cscope.*
doit
t
blk.bin
*.dSYM
scripts/toolpaths.local
compile_commands.json
.vscode
*_BACKUP_*
*_REMOTE_*
*_LOCAL_*
*_BASE_*
*.sublime-*
json_generator_tests_*.txt
/benchmarks/
/infra/.recipe_deps
/out*
/prebuilt/downloads/
/prebuilt/config.gni
/prebuilt/config.mk
/prebuilt/config.mk.bak
/AnalysisResult/
/public/banjo/
/public/fidl/
/public/lib/
/public/sysroot/
/public/tool/
.idea/
CMakeLists.txt
cmake-build-debug/
