{
  "services": {
    "fuchsia.accessibility.Magnifier": "fuchsia-pkg://fuchsia.com/a11y_manager#meta/a11y_manager.cmx",
    "fuchsia.accessibility.Manager": "fuchsia-pkg://fuchsia.com/a11y_manager#meta/a11y_manager.cmx",
    "fuchsia.accessibility.SettingsManager": "fuchsia-pkg://fuchsia.com/a11y_manager#meta/a11y_manager.cmx",
    "fuchsia.accessibility.semantics.SemanticTree": "fuchsia-pkg://fuchsia.com/a11y_manager#meta/a11y_manager.cmx",
    "fuchsia.accessibility.semantics.SemanticsManager": "fuchsia-pkg://fuchsia.com/a11y_manager#meta/a11y_manager.cmx",
    "fuchsia.accessibility.tts.TtsManager": "fuchsia-pkg://fuchsia.com/a11y_manager#meta/a11y_manager.cmx",
    "fuchsia.accessibility.tts.EngineRegistry": "fuchsia-pkg://fuchsia.com/a11y_manager#meta/a11y_manager.cmx"
  }
}