{
    "services": {
        "fuchsia.accessibility.ColorTransform": "fuchsia-pkg://fuchsia.com/a11y-manager#meta/a11y-manager.cmx",
        "fuchsia.accessibility.Magnifier": "fuchsia-pkg://fuchsia.com/a11y-manager#meta/a11y-manager.cmx",
        "fuchsia.accessibility.Manager": "fuchsia-pkg://fuchsia.com/a11y-manager#meta/a11y-manager.cmx",
        "fuchsia.accessibility.gesture.ListenerRegistry": "fuchsia-pkg://fuchsia.com/a11y-manager#meta/a11y-manager.cmx",
        "fuchsia.accessibility.semantics.SemanticTree": "fuchsia-pkg://fuchsia.com/a11y-manager#meta/a11y-manager.cmx",
        "fuchsia.accessibility.semantics.SemanticsManager": "fuchsia-pkg://fuchsia.com/a11y-manager#meta/a11y-manager.cmx",
        "fuchsia.accessibility.tts.EngineRegistry": "fuchsia-pkg://fuchsia.com/a11y-manager#meta/a11y-manager.cmx",
        "fuchsia.accessibility.tts.TtsManager": "fuchsia-pkg://fuchsia.com/a11y-manager#meta/a11y-manager.cmx",
        "fuchsia.accessibility.virtualkeyboard.Registry": "fuchsia-pkg://fuchsia.com/a11y-manager#meta/a11y-manager.cmx"
    }
}
