BasedOnStyle: Chromium
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlwaysBreakTemplateDeclarations: false
IndentCaseLabels: false
BinPackParameters: true
