{{- define "GenerateGoBits" -}}
{{- $name := Name . }}

{{ range .Comments }}
//{{ . }}
{{- end }}
type {{ $name }} {{ .Subtype }}

const (
{{ $bits := . }}
{{ range .Members }}
{{- if .Comments }}
{{ range .Comments }}
//{{ . }}
{{- end }}
{{- end }}
    {{ ConstMemberName $bits . }} {{ $name }} = 1 << {{ .Index }}
{{- end }}
)

{{ end }}