{
  "services": {
    "fuchsia.router.config.RouterAdmin": "fuchsia-pkg://fuchsia.com/network-manager#meta/network-manager.cmx",
    "fuchsia.router.config.RouterState": "fuchsia-pkg://fuchsia.com/network-manager#meta/network-manager.cmx",
    "fuchsia.router.config.RouterSystem": "fuchsia-pkg://fuchsia.com/network-manager#meta/network-manager.cmx"
  },
  "startup_services": [
    "fuchsia.router.config.RouterAdmin",
    "fuchsia.router.config.RouterSystem",
    "fuchsia.router.config.RouterState"
  ]
}
