# Copyright 2016 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See http://luci-config.appspot.com/schemas/projects/refs:cq.cfg for the
# documentation of this file format.

version: 1
cq_name: "magenta"
cq_status_url: "https://fuchsia-cq-status.appspot.com"
git_repo_url: "https://fuchsia.googlesource.com/magenta"

gerrit {}

verifiers {
  try_job {
    buckets {
      name: "luci.magenta.ci"
      builders {
        name: "arm32 Linux (GCC)"
      }
      builders {
        name: "arm64 Linux (GCC)"
      }
      builders {
        name: "x86-64 Linux (GCC)"
      }
      builders {
        name: "x86-64 Linux (Clang)"
      }
    }
  }
  sign_cla {}
}
