# Copyright 2016 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See http://luci-config.appspot.com/schemas/projects/refs:cq.cfg for the
# documentation of this file format.

version: 1
cq_name: "magenta"
cq_status_url: "https://chromium-cq-status.appspot.com"
git_repo_url: "https://fuchsia.googlesource.com/magenta"

gerrit {}

verifiers {
  try_job {
    buckets {
      name: "fuchsia.magenta",
      builders {
        name: "Magenta qemu-arm32 Tester"
      }
      builders {
        name: "Magenta qemu-arm64 Tester"
      }
      builders {
        name: "Magenta pc-x86-64 Tester"
      }
    }
  }
  sign_cla {}
}
