{
    "reject_incoming_voice_call" : true,
    "three_way_calling" : true,
    "echo_canceling_and_noise_reduction" : true,
    "voice_recognition" : false,
    "attach_phone_number_to_voice_tag" : true,
    "remote_audio_volume_control" : true,
    "respond_and_hold" : false,
    "enhanced_call_controls" : false,
    "wide_band_speech" : true,
    "in_band_ringtone": false,
    "enhanced_voice_recognition": false,
    "enhanced_voice_recognition_with_text": false
}
