{
    "attach_phone_number_to_voice_tag": false,
    "echo_canceling_and_noise_reduction": true,
    "enhanced_call_controls": false,
    "enhanced_voice_recognition": false,
    "enhanced_voice_recognition_with_text": false,
    "in_band_ringtone": false,
    "reject_incoming_voice_call": false,
    "remote_audio_volume_control": true,
    "respond_and_hold": false,
    "three_way_calling": true,
    "voice_recognition": false,
    "wide_band_speech": false
}
