{
  "services": {
    "fuchsia.factory.CastCredentialsFactoryStoreProvider": "fuchsia-pkg://fuchsia.com/factory_store_providers#meta/factory_store_providers.cmx",
    "fuchsia.factory.MiscFactoryStoreProvider": "fuchsia-pkg://fuchsia.com/factory_store_providers#meta/factory_store_providers.cmx",
    "fuchsia.factory.PlayReadyFactoryStoreProvider": "fuchsia-pkg://fuchsia.com/factory_store_providers#meta/factory_store_providers.cmx",
    "fuchsia.factory.WidevineFactoryStoreProvider": "fuchsia-pkg://fuchsia.com/factory_store_providers#meta/factory_store_providers.cmx",
    "fuchsia.factory.WeaveFactoryStoreProvider": "fuchsia-pkg://fuchsia.com/factory_store_providers#meta/factory_store_providers.cmx"
  }
}
