{
  "services": {
    "fuchsia.net.filter.Filter": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.net.interfaces.State": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.net.neighbor.Controller": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.net.neighbor.View": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.net.routes.State": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.net.stack.Log": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.net.stack.Stack": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.netstack.Netstack": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx",
    "fuchsia.posix.socket.Provider": "fuchsia-pkg://fuchsia.com/netstack#meta/netstack.cmx"
  },
  "update_dependencies": [
    "fuchsia.posix.socket.Provider"
  ]
}
