{
    "services": {
        "fuchsia.ui.observation.test.Registry": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.pointerinjector.Registry": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.views.ViewRefInstalled": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx"
    }
}
