{
    "services": {
        "fuchsia.ui.annotation.Registry": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.composition.Allocator": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.composition.Flatland": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.composition.FlatlandDisplay": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.composition.ScreenCapture": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.display.singleton.Info": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.focus.FocusChainListenerRegistry": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.input.accessibility.PointerEventRegistry": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.input.PointerCaptureListenerRegistry": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.lifecycle.LifecycleController": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.observation.test.Registry": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.pointerinjector.Registry": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.scenic.Scenic": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.scenic.internal.Snapshot": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.display.internal.DisplayPower": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx",
        "fuchsia.ui.views.ViewRefInstalled": "fuchsia-pkg://fuchsia.com/scenic#meta/scenic.cmx"
    }
}
