<link rel="stylesheet" href="style.css" />

{{> header }}

<div>
<devsite-filter>
<input type="text" placeholder="Type a keyword here to find a FIDL">

<table>
<thead><tr><th>Name</th><th>Description</th></tr></thead>
<tbody class="list">
{{#each table_of_contents.items }}
<tr>
    <td><a href="{{link}}">{{name}}</a></td>
    <td>{{oneline description}}</td>
</tr>
{{/each }}
</tbody>
</table>

</devsite-filter>
</div>