{{> header }}

<devsite-filter>
<input type="text" placeholder="Type a keyword here to find a FIDL">

<table>
<tr><th>Name</th><th>Description</th></tr>
{{#each table_of_contents ~}}
<tr>
    <td><a href="{{link}}">{{name}}</a></td>
    <td>{{oneline description}}</td>
</tr>
{{/each ~}}
</table>

</devsite-filter>

{{> footer }}