{{> header }}

<table>
<tr><th>Name</th><th>Description</th></tr>
{{#each table_of_contents ~}}
<tr>
    <td><a href="{{link}}">{{name}}</a></td>
    <td>{{description}}</td>
</tr>
{{/each ~}}
</table>

{{> footer }}