// Copyright 2022 The Fuchsia Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
library examples.${series_flat_case}.${variant_flat_case};

@discoverable
protocol ${protocol_pascal_case} {
  // TODO(${dns}): Fill in this protocol implementation! Make sure to comment thoroughly.
};
