# {{PROJECT_NAME}}

TODO: Brief overview of the component.

## Building

To add this component to your build, append
`--with {{PROJECT_PATH}}`
to the `fx set` invocation.

## Running

```
$ fx shell run fuchsia-pkg://fuchsia.com/{{PROJECT_NAME}}#meta/{{PROJECT_NAME}}.cmx
```

## Testing

Unit tests for {{PROJECT_NAME}} are available in the `{{PROJECT_NAME}}-tests`
package.

```
$ fx test {{PROJECT_NAME}}-tests
```

