{
  "apps" : [
    [ "fuchsia-pkg://fuchsia.com/lowpan-spinel-driver#meta/lowpan-spinel-driver.cmx", "--otstack" ]
  ],
  "services": {
    "fuchsia.lowpan.device.Lookup": "fuchsia-pkg://fuchsia.com/lowpanservice#meta/lowpanservice.cmx",
    "fuchsia.lowpan.device.Register": "fuchsia-pkg://fuchsia.com/lowpanservice#meta/lowpanservice.cmx",
    "fuchsia.factory.lowpan.FactoryLookup": "fuchsia-pkg://fuchsia.com/lowpanservice#meta/lowpanservice.cmx",
    "fuchsia.factory.lowpan.FactoryRegister": "fuchsia-pkg://fuchsia.com/lowpanservice#meta/lowpanservice.cmx"
  },
  "startup_services": [
  ]
}
