{
  "services": {
    "fuchsia.lowpan.LowpanService": "fuchsia-pkg://fuchsia.com/lowpanservice#meta/lowpanservice.cmx",
    "fuchsia.lowpan.LowpanLookup": "fuchsia-pkg://fuchsia.com/lowpanservice#meta/lowpanservice.cmx",
    "fuchsia.lowpan.LowpanRegistry": "fuchsia-pkg://fuchsia.com/lowpanservice#meta/lowpanservice.cmx"
  },
  "startup_services": [
  ]
}
