# Begin common set.

# For use by humans to create random files that git will ignore.
# An example that the author often uses is "git diff > foo.patch.ign".
# Alas some repos have .patch and .diff files so we can't use those here.
*.ign

# Patch related cruft.
*.orig
*.rej

# Temp files created by most text editors.
*~

# Various tags programs.
tags
TAGS

# End common set.

# Build directory
out/
