{{#if maybe_attributes ~}}
    {{~ #each maybe_attributes ~}}
        {{~ #if (eq (lower_snake_case name) "deprecated") ~}}
            <p><b>DEPRECATED </b>
                {{~ #each arguments ~}}
                    {{~ #if (eq (lower_snake_case name) "value") ~}}
                        - {{value.value}}
                    {{~ /if ~}}
                {{~ /each ~}}
            </p>
        {{~ /if ~}}
        {{~ #if (eq (lower_snake_case name) "available") ~}}
            <div class="fidl-version-div">{{processVersions arguments}}</div>
        {{/if ~}}
        {{~ #if (eq (lower_snake_case name) "doc") ~}}
            {{~ #if (eq (len arguments) "1") ~}}
                {{~ pulldown (docLink arguments.[0].value.value arguments.[0].name) ~}}
            {{~ /if ~}}
        {{~ /if ~}}
    {{~ /each ~}}
{{~ /if}}
