{{- define "GenerateGoConst" -}}
{{ range .Comments }}
//{{ . }}
{{- end }}
const {{ ConstName . }} {{ ConstType . }} = {{ ConstValue . }}  {{ if .Expression }}  // {{ .Expression }} {{ end }}
{{ end }}