{{- define "GenerateGoStruct" -}}

{{ range .Comments }}
//{{ . }}
{{- end }}
type {{ Name . }} struct {
{{ range .Members }}
{{- if .Comments }}
{{ range .Comments }}
//{{ . }}
{{- end }}
{{- end }}
    {{ Name . }} {{ DescribeType .Type }}
{{- end }}
};

{{ end }}