/* Copyright 2017 The Fuchsia Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/dts-v1/;

/ {
  interrupt-parent = <&gic>;
  #address-cells = <2>;
  #size-cells = <2>;

  cpus {
    #address-cells = <2>;
    #size-cells = <0>;

    cpu-map {
      cluster0 {
        core0 {
          cpu = <&cpu0>;
        };
      };
    };

    cpu0: cpu@0 {
      device_type = "cpu";
      compatible = "arm,cortex-a53", "arm,armv8";
      reg = <0x0 0x0>;
      enable-method = "psci";
    };
  };

  memory@0 {
    device_type = "memory";
    reg = <0x00000000 0x00000000 0x00000000 0x40000000>;
  };

  psci {
    compatible = "arm,psci";
    method = "smc";
  };

  soc {
    #address-cells = <2>;
    #size-cells = <2>;

    uart@fff32000 {
      compatible = "arm,pl011", "arm,primecell";
      reg = <0x0 0xfff32000 0x0 0x1000>;
      interrupts = <0 79 4>;            /* SPI 79 HIGH */
    };

    gic: interrupt-controller@e82b0000 {
        interrupt-controller;
        compatible = "arm,gic-400";
        reg = <0 0xe82b1000 0 0x1000>,  /* GICD */
              <0 0xe82b2000 0 0x2000>,  /* GICC */
              <0 0xe82b4000 0 0x2000>,  /* GICH */
              <0 0xe82b6000 0 0x2000>;  /* GICV */
        #address-cells = <0>;
        #interrupt-cells = <3>;
    };

    timer {
        compatible = "arm,armv8-timer";
        interrupts = <1 27 4>;          /* PPI 27 HIGH/CPU-0 */
    };
  };
};
